@media (min-width: 1440px) {
  /**导航栏样式*/
  .VPNavBar {
    border-bottom: 1px solid #eaecef;

    .wrapper {
      .container {
        max-width: 100% !important;

        .content {
          padding-left: 280px !important;
          padding-right: 32px !important;
        }

        .title {
          padding: 0 !important;
          width: 280px !important;
          background-color: #ffffff;
        }
        .VPNavBarTitle.has-sidebar {
          width: 280px !important;
          .title {
            padding-left: 32px !important;
            width: 280px !important;
          }
        }
      }
    }
    .divider {
      padding-left: 310px !important;
    }
  }
  /**默认布局 */
  .VPDoc {
    padding: 0 32px 0;
    display: flex;
    justify-content: center;
  }

  .VPDoc .container {
    margin: 0 !important;
  }
  /* 左侧侧边栏 */
  .VPSidebar {
    padding-left: 32px !important;
    width: 280px !important;
    background-color: #ffffff !important;
  }
  .VPContent.has-sidebar {
    padding-left: 280px !important;
  }

  .VPDoc.has-aside .content-container{
    max-width: none !important;
  }
}
